# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
infra/grafana/data/
infra/prometheus/data/
infra/tempo/data/

# Env
.env
*.env.local
